<p>posts works!</p>
<!-- <button type="button" (click)="getPosts()" class="bg-red-400">get posts</button> -->
<!-- <button type="button" class="bg-red-400">get post by id</button> -->
<table class=" border-2 border-spacing-3" border="3" [width]="800">
    <thead class=" border-2 border-spacing-3 bg-orange-600">
        <tr>
            <th >id</th>
            <th>subject</th>
            <th>description</th>
            <th>auther</th>
            <th>city</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td class="text-2xl font-semibold text-blue-500">{{post.id}}</td>
            <td>{{post.subject}}</td>
            <td>{{post.description}}</td>
            <td>{{post.auther}}</td>
            <td>{{post.city}}</td>
            <td><a [routerLink]="['/posts/details',post.id]"  >show </a></td>
        </tr>

    </tbody>
</table>